/* Normal desktop :992px. LG Device */
@media (min-width: 992px) and (max-width: 1200px) {

.mainmenu ul li {
    margin: 18px -1px;
}
.mainmenu{
	text-align:center !important;
}

.single-skill-bar p{
	font-size:14px
}
.section-about figcaption {
    height: 82%;
}
.single-service-features .services-content p {
	font-size:15px;
}
.accordion li p {
    padding: 18px 20px 20px;
}
.pricing-rate.ml-60 {
    margin-left: 40px;
}
.pricing-rate.mr-60 {
    margin-right: 40px;
}
.blog-area .grid-content {
    padding: 30px 30px 38px 30px;
}
.grid-content h2 {
    font-size: 20px;
}
.grid-content span {
    font-size: 14px;
}
.bp-padd {
    padding-right: 12px;
}
.grid-content span a {
    font-size: 14px;
}
.grid-content p {
    font-size: 14px;
	line-height: 22px;
}
.testimonials-grids .details-about p {
    line-height: 36px;
}
.grid-content .section-dash-warp .btn>span {
    font-size: 14px;
}
.detail-share p {
    font-size: 15px;
}
.detail-share {
    padding: 35px 12px;
	margin: 0px 18px 16px 0px;
}
.banner_inner h1 {
    font-size: 30px;
}



}





/* small mobile layout :320px. */
@media only screen and (max-width: 767px) {

.slicknav_menu{
	display:block;
}	
.mainmenu{
	display:none;
}
div.slicknav_menu {
    margin-top: -60px;
    background: transparent;
}
.slicknav_btn {
    margin: 6px 25px 16px 8px;
	border-radius:0px;
}
.bbr-mb.menu-background {
    top: 0px;
}
.slicknav_nav {
    background: #616161;
	padding: 15px;
    text-align: center;
}
.slicknav-bg-6 div.slicknav_menu {
    margin-top: 12px;
    background: transparent;
}
.logo-middle-6 {
    right: auto !important;
}


.banner-wrapper h1 {
    font-size: 38px;
}
.banner-wrapper h3 {
    font-size: 1.5rem;
}
.about-image {
    width: 70%;
	margin-left:70px;
}
.section-about figcaption {
    width: 72%;
    height: 100%;
	margin-left:70px;
}
.section-dash h2 {
    font-size: 22px;
}
.section-dash p {
    font-size: 15px;
}
.section-dash-warp .btn>span {
    font-size: 14px;
}
.protfolio-menu button .tooltip-sub {
    display: none;
}
.ask-question.ask-middle{
	text-align:left !important;
	margin-top:45px;
}
.protfolio-wrapper .icons {
    top: 45%;
}
.protfolio-wrapper h2 {
    margin: 10px 0px 18px 0px;
    top: 55%;
}
.pricing-rate.mr-60 {
    margin-right: 0px;
	margin-bottom:40px;
}
.pricing-rate .tooltip-sub {
    display: none;
}
.pricing-rate.ml-60 {
    margin-left: 0px;
	margin-top:40px;
}
.testimonials-grids .details-about p {
    font-size: 15px;
	line-height: 30px;
}
.res-bottom{
	margin-bottom:40px;
}
.ask-middle{
	margin-top:40px;
}
.comment-respond{
    margin: 0 9px;
}
.grid-content .section-dash-warp .btn>span {
    font-size: 15px;
}
.detail-share {
    width: 96%;
    text-align: center !important;
}
.mll-bottom{
	margin-bottom:15px;
}
.bottom-menu.small-menu {
    bottom:-5px;
}
.banner-wrapper .mp-button a {
    width: 138px;
    font-size: 12px;
}
.banner_inner h1 {
    font-size: 20px;
}
.banner-wrapper p {
    width: 100%;
}
}

/* Large Mobile layout:550px. */
@media only screen and (min-width: 576px) and (max-width: 767px) {

.slicknav_menu{
	display:block;
}		
.mainmenu{
	display:none;
}
div.slicknav_menu {
    margin-top: -60px;
    background: transparent;
}
.slicknav_btn {
    margin: 6px 90px 16px 8px;
}
.bbr-mb.menu-background {
    top: 0px;
}
.slicknav_nav {
    background: #616161;
    padding: 15px;
    text-align: center;	
}
.logo-middle-6 {
    right: auto !important;
}


.banner-wrapper h1 {
    font-size: 45px;
}
.banner-wrapper h3 {
    font-size: 1.8rem;
}
.banner-wrapper .mp-button a {
    width: 138px;
    font-size: 12px;
}
.about-image {
    width: 70%;
	margin-left:70px;
}
.section-about figcaption {
    width: 72%;
    height: 100%;
	margin-left:70px;
}
.section-dash h2 {
    font-size: 25px;
}
.section-dash p {
    font-size: 15px;
}
.section-dash-warp .btn>span {
    padding: .7em 2em;
}
.protfolio-menu button {
    margin-right: 0px;
    padding: 8px 12px;
}
.protfolio-wrapper .icons {
    top: 45%;
}
.protfolio-wrapper h2 {
    margin: 10px 0px 18px 0px;
    top: 55%;
}
.ask-question.ask-middle{
	text-align:left !important;
	margin-top:45px;
}
.pricing-rate.mr-60 {
    margin-right: 0px;
	margin-bottom:40px;
}
.pricing-rate .tooltip-sub {
    display: none;
}
.pricing-rate.ml-60 {
    margin-left: 0px;
	margin-top:40px;
}
.testimonials-grids .details-about p {
    font-size: 18px;
	line-height: 36px;
}
.res-bottom{
	margin-bottom:40px;
}
.ask-middle{
	margin-top:40px;
}
.comment-respond{
    margin: 0 0px;
}
.banner_inner h1 {
    font-size: 25px;
}
.banner-wrapper p {
    width: 100%;
}	

}

